.cards
    background: $color-gray-light

    display: grid
    grid-column: center-start / center-end

    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr))
    grid-gap: 4rem 6rem

    padding: 8rem 0

    @include respond(phone)
        padding: 5rem 0
        
.card
    background: $color-blue-dark
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-row-gap: 4.5rem

    transition: all .3s

    &__img
        width: 100%
        height: 100%
        object-fit: cover
        grid-column: 1 / -1
        grid-row: 1 / 2

    &__title
        grid-column: 1 / -1
        grid-row: 1 / 2
        background: $color-green-dark
        padding: 1.5rem 6rem
        font-weight: 700
        font-size: 1.6rem
        text-align: center
        margin-bottom: 1.5rem
        color: $color-gray-light
        width: 80%
        align-self: end
        justify-self: center
        transition: .3s
        z-index: 2
        transform: translateY(80%)

    &__svg
        width: 2rem
        height: 2rem
        margin-right: 1rem

    &__btn
        grid-column: 1 / -1

    &:hover
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4)
        transform: translateY(-1rem) scale(1.03)

        background: lighten($color-blue-dark, 2%)

        .card__svg
            fill: $color-green-light

        .card__title
            background: $color-green-light

        .card__btn::after
            transform: translateX(400px) skewX(-45deg)

.content
    margin-left: 13%
    display: flex

.content p
    font-size: 1.6rem
    color: $color-gray-light
    font-weight: 300
